@import "./icons.css";

.geods-map{
    &.single{
        border-radius: 7px;
        box-shadow: 1px 1px 11px 3px #c2c2c2;
        .ol-viewport{
            border-radius: inherit
        }
    }
    
}

.ol-control.geods-zoom{
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    &:hover{
        background-color: transparent;
    }
    button{
        background-color: rgb(255 255 255 / 40%);
        color: black;
        font-size: 25px;
        margin: 0;
        cursor: pointer;
        border-radius: 10%;
        box-shadow: 1px 1px 8px 3px rgba(0,0,0,.14);
        
        &:hover,&:focus{
            background-color: rgb(248, 248, 248);
        }
        &:last-child{
            margin-top: 3px;
        }
    }
}